# Java compiled files
*.class

# Java packaged files
*.jar
*.war
*.ear

# Archives
*.zip
*.tar.gz
*.rar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.settings/
.classpath
.project

### Gradle ###
bin/
gen/
out/
build/
.gradle/

### Maven ###
target/

# Mac
.DS_Store

# Log files
*.log

# Backups
*.bak

# Backup Java classes
*Bak.java